@inherits LayoutComponentBase

<NavBar/>
<CascadingValue Value="@_useF">
    @Body
</CascadingValue>
<Footer/>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private bool _useF = true;
}
