.snowflake {
    animation: snowfall infinite linear;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 100%;
}

@keyframes snowfall {
    0% {
        opacity: 0;
        background-color: aliceblue;
        top: -30%;
        transform: translateX(-20%);
    }
    20% {
        opacity: 0.5;
        background-color: white;
        top: 0;
        transform: translateX(0);
    }
    40% {
        opacity: 1;
        background-color: aliceblue;
        top: 30%;
        transform: translateX(20%);
    }
    60% {
        opacity: 0.5;
        background-color: white;
        top: 60%;
        transform: translateX(0);
    }
    80% {
        opacity: 1;
        background-color: aliceblue;
        top: 90%;
        transform: translateX(-20%);
    }
    100% {
        opacity: 0;
        background-color: white;
        top: 120%;
        transform: translateX(0);
    }
}