@using Janela.Data.Services.Classes


<div class="w-1/2 flex-col gap-2 mx-auto my-2">
    @foreach (var a in WeatherAlerts.alert)
    {
        <Alert Color="Color.Dark" Visible>
            <AlertMessage>@a.headline</AlertMessage>
            <AlertMessage><br/>@a.instruction</AlertMessage>
        </Alert>
    }
</div>

@code 
{
    [Parameter] public required Alerts WeatherAlerts { get; set; }
}