.glass {
    width: 80%;
    margin: 1rem auto;
}

.glass * {
    color: white;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .glass {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
    }
}