@using Janela.Data
@using Janela.Data.Services.Classes
@inject Globals Globals

<div class="relative p-4 flex flex-nowrap gap-4 justify-around items-center overflow-hidden">
    <div class="w-1/3 flex-grow rounded-lg shadow-lg p-2"
         style="background: rgba(50, 50, 50, 0.8);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    ">
        <div>
            <Heading Size="HeadingSize.Is4">Marine Report</Heading>
            @*Placeholder for surf icon*@
        </div>
        <div>
            @*Place info here*@
        </div>
    </div>
    <div class="w-1/3 flex-grow rounded-lg shadow-lg p-2"
         style="background: rgba(50, 50, 50, 0.8);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    ">
        <div>
            <Heading Size="HeadingSize.Is4">Astrology Report</Heading>
            @*Placeholder for Sun/moon/star icon*@
        </div>
        <div>
            @*Place info here*@
        </div>
    </div>
    <div class="w-1/3 flex-grow rounded-lg shadow-lg p-2"
         style="background: rgba(50, 50, 50, 0.8);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    ">
        <div>
            <Heading Size="HeadingSize.Is4">Sports Report</Heading>
            @*Placeholder for ball icon*@
        </div>
        <div>
            @*Place info here*@
        </div>
    </div>
</div>

@code {
    [Parameter] public required WeatherResponse? Weather { get; set; }
    public required ThreeDayForecast ThreeDayForecast { get; set; }
}