@using Janela.Data
@using Janela.Data.Services.Classes
@inject Globals Globals

<div class="w-full p-4 grid grid-cols-3 grid-rows-3 gap-3">
    <div class="rounded-lg shadow-lg p-2 col-span-3 flex-col"
         style="background: rgba(50, 50, 50, 0.8);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    ">
        <h1>Temperature</h1>
        <TempChart Forecast="Weather.forecast"/>
    </div>
    <div class="rounded-lg shadow-lg p-2"
         style="background: rgba(50, 50, 50, 0.8);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    ">
        <h1>Precipitation</h1>
        
    </div>
    <div class="rounded-lg shadow-lg p-2"
         style="background: rgba(50, 50, 50, 0.8);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    ">
        <h1></h1>
    </div>
</div>

@code {
    [Parameter] public required WeatherResponse? Weather { get; set; }
}