<div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center" style="background-color: rgba(0, 0, 0, 0.7)">
    <h1 class="text-3xl text-white font-thin">Janela</h1>
    <img src="media/wired-outline-1740-window-shutters-hover-close-open.gif" alt="Loading Graphic"/>
    <h1 class="text-3xl text-white font-thin">Loading...</h1>
</div>