@using Janela.Data.Services.Classes

<div class="flex-col justify-center items-center w-full h-full p-2">
    @if (_condition.Count > 0)
    {
        foreach (var i in _condition.Where(i => i == "rain" ||
                                                i == "storm" ||
                                                i == "snow"))
        {
            <img style="width: 3rem" alt="Weather Icon: @i" src=@($"/images/svg/{i}Icon.svg")/>
        }
    }
</div>

@code {
    [Parameter] public required WeatherResponse Weather { get; set; }
    private List<string> _condition = [];

    protected override Task OnParametersSetAsync()
    {
        _condition = GetKeyWeather(Weather.current.condition.text);
        StateHasChanged();
        return base.OnParametersSetAsync();
    }

    private List<string> GetKeyWeather(string cond)
    {
        var result = new List<string>();
        var conditionList = cond.Split(" ");
        foreach (var s in conditionList)
        {
            switch (s.ToLower())
            {
                case "rain":
                case "snow":
                case "storm":
                    result.Add(s.ToLower());
                    break;
            }
        }

        return result;
    }
}