span {
    font-weight: bolder;
}

#window {
    width: 100vw;
    height: 120%;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    background: #0a0c5d;
    background: -webkit-linear-gradient(180deg, #0a0c5d 0%, #3b3c72 40%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, #0a0c5d 0%, #3b3c72 40%, rgba(0, 0, 0, 0) 100%);
    z-index: 100;
}

#glass {
    width: 40%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 2;
    p, h1, h3 {
        color: black;
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #glass {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.weather-attribute {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    flex-shrink: 1;
}